.sd-cmp-JnaLO {
 position:relative;
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 -webkit-appearance:none!important;
 -moz-appearance:none!important;
 appearance:none!important;
 background:none!important;
 border:none!important;
 -webkit-box-shadow:none!important;
 box-shadow:none!important;
 outline:none!important;
 font-size:inherit;
 padding:0;
 margin:0;
 width:auto
}
.sd-cmp-JnaLO .sd-cmp-16t61,
.sd-cmp-JnaLO .sd-cmp-1pO44 {
 display:block;
 font-family:var(--font-family),Helvetica,Arial,sans-serif;
 font-weight:500;
 cursor:pointer;
 white-space:nowrap;
 width:auto;
 outline:0
}
.sd-cmp-JnaLO .sd-cmp-16t61 {
 border-radius:var(--border-radius);
 border:1px solid var(--main-color);
 -webkit-tap-highlight-color:transparent;
 -webkit-transition:color .1s ease-out,background .1s ease-out;
 transition:color .1s ease-out,background .1s ease-out
}
.sd-cmp-JnaLO .sd-cmp-1pO44 {
 font-size:1em;
 color:var(--main-color);
 text-transform:lowercase;
 text-decoration:underline!important;
 padding:.55em 1.5em
}
@media (hover:hover) {
 .sd-cmp-JnaLO .sd-cmp-1pO44:hover {
  text-decoration:none!important
 }
}
.sd-cmp-JnaLO .sd-cmp-1pO44:active {
 text-decoration:none!important
}
.sd-cmp-JnaLO:focus {
 outline:0
}
.sd-cmp-JnaLO:focus>.sd-cmp-16t61 {
 outline:1px auto -webkit-focus-ring-color
}
.sd-cmp-JnaLO:hover {
 background:none!important;
 border:none!important
}
.sd-cmp-2JYyd {
 padding:.75em 2em;
 font-size:1em!important
}
@media (pointer:coarse),(pointer:none),screen and (max-width:calc(400px - 1px)),screen and (min-width:400px) and (max-width:calc(500px - 1px)) {
 .sd-cmp-2JYyd {
  padding:.75em 1em;
  font-size:.975em!important
 }
}
.sd-cmp-3Cafv {
 padding:.55em 1.5em;
 font-size:.875em!important;
 text-transform:lowercase!important
}
@media (pointer:coarse),(pointer:none),screen and (max-width:calc(400px - 1px)),screen and (min-width:400px) and (max-width:calc(500px - 1px)) {
 .sd-cmp-3Cafv {
  padding:.75em 1em;
  font-size:.75em!important
 }
}
.sd-cmp-3cRQ2 {
 background:var(--main-color);
 color:var(--background-color)
}
@media (hover:hover) {
 .sd-cmp-3cRQ2:hover {
  background:var(--background-color);
  color:var(--main-color)
 }
}
.sd-cmp-18g3C,
.sd-cmp-3cRQ2:active {
 background:var(--background-color);
 color:var(--main-color)
}
@media (hover:hover) {
 .sd-cmp-18g3C:hover {
  background:var(--main-color);
  color:var(--background-color)
 }
 .sd-cmp-18g3C:hover svg {
  fill:var(--background-color)
 }
}
.sd-cmp-18g3C:active {
 background:var(--main-color);
 color:var(--background-color)
}
.sd-cmp-18g3C:active svg {
 fill:var(--background-color)
}
.sd-cmp-18g3C svg {
 fill:var(--main-color)
}
@media screen and (min-width:710px) {
 .sd-cmp-2aUdP.sd-cmp-2VvEh .sd-cmp-WgGhS,
 .sd-cmp-2aUdP.sd-cmp-1OAX5 .sd-cmp-WgGhS {
  margin:auto auto auto 25px
 }
}
.sd-cmp-1rN4Z {
 position:relative
}
.sd-cmp-1rN4Z a.sd-cmp-2ZVuS {
 -webkit-text-decoration:underline dashed!important;
 text-decoration:underline dashed!important
}
.sd-cmp-WgGhS {
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 text-align:center!important
}
.sd-cmp-WgGhS button .sd-cmp-16t61 {
 margin:5px!important;
 white-space:nowrap
}
.sd-cmp-WgGhS .sd-cmp-25TOo {
 display:grid
}
@media screen and (min-width:500px) and (max-width:calc(710px - 1px)) {
 .sd-cmp-WgGhS .sd-cmp-25TOo {
  display:none
 }
}
.sd-cmp-WgGhS .sd-cmp-25TOo button .sd-cmp-16t61 {
 margin:0 0 10px!important
}
.sd-cmp-WgGhS .sd-cmp-25TOo button:nth-last-child(2) {
 margin-bottom:0!important
}
.sd-cmp-WgGhS .sd-cmp-25TOo .sd-cmp-1YaZe {
 display:block;
 width:9.375em;
 height:3.125em;
 margin:15px auto 0;
 background:50%/contain no-repeat var(--logo)
}
@media screen and (prefers-color-scheme:light) {
 .sd-cmp-WgGhS .sd-cmp-25TOo .sd-cmp-1YaZe {
  background:50%/contain no-repeat var(--logo)
 }
}
@media screen and (prefers-color-scheme:dark) {
 .sd-cmp-WgGhS .sd-cmp-25TOo .sd-cmp-1YaZe {
  background:50%/contain no-repeat var(--logo-dark)
 }
}
@media (pointer:coarse),(pointer:none),screen and (max-width:calc(400px - 1px)),screen and (min-width:400px) and (max-width:calc(500px - 1px)),screen and (min-width:500px) and (max-width:calc(710px - 1px)) {
 .sd-cmp-WgGhS .sd-cmp-25TOo .sd-cmp-1YaZe {
  display:none
 }
}
.sd-cmp-WgGhS .sd-cmp-3V2Vm {
 display:none
}
@media screen and (min-width:500px) and (max-width:calc(710px - 1px)) {
 .sd-cmp-WgGhS .sd-cmp-3V2Vm {
  display:block
 }
}
@media screen and (min-width:710px) {
 .sd-cmp-WgGhS.sd-cmp-TVq-W .sd-cmp-25TOo {
  display:none
 }
 .sd-cmp-WgGhS.sd-cmp-TVq-W .sd-cmp-3V2Vm {
  display:block
 }
}
@media screen and (min-width:710px) {
 .sd-cmp-WgGhS.sd-cmp-3YRFa {
  margin:auto auto auto 25px
 }
}
